.DS_Store
.Rhistory
.Rproj*
.Rproj.user
.RData
#
data/resp/
data/ipam/
#
data/reads_bacteria/
data/quantseq_reads/
#
data/*zip
data/classifiers/
data/pdam_annotations/
data/image*
data/mtorf/
#
bash/jobs
#
R/GO_MWU/
#
Rmd/taxa_colors/

outputs
