.DS_Store
.Rhistory
.Rproj*
.Rproj.user
.RData
#
data/resp/
data/ipam/
#
data/reads_bacteria/
data/quantseq_reads/
#
data/*zip
data/bbmap_resources/
data/classifiers/
data/pdam_annotations/
data/cladocopium_genome_annotations.tsv
data/image*
data/mtorf/
#
bash/jobs
bash/tagseq/sra_tagseq_upload.sh
#
R/GO_MWU/
#
Rmd/taxa_colors/
Rmd/LEfSe_practice.Rmd
Rmd/dissertation_diversity_violinplots.Rmd
#
outputs
